version: "3.9"

services:
  web:
    image: node:20-alpine
    container_name: carhaven_frontend_ci
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - NODE_ENV=production
    ports:
      - "8081:8081"
    command: >
      sh -c "npm install &&
             npx vite build &&
             npx vite preview --host 0.0.0.0 --port 8081"
